<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title>YATA - Yet Another Todo App</title>
</head>

<body>
    <div>
        <img src="/static/{{ .Picture }}" />
        <form action="/add_todo" method="post">
            <label for="todo">Todo:</label><br>
            <input type="text" name="task" maxlength="140"><br>
            <input type="submit" value="Create TODO">
        </form>
        <ul>
            {{ range .Items }}
            <li>{{ .Task }}</li>
            {{ end }}
        </ul>
    </div>
</body>

</html>
